*{
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}

header {
    background: linear-gradient(135deg,rgb(218, 218, 218) 0%, rgb(121, 2, 2) 100%);
    height: 100vh;

}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
    margin-right: 20px;

}

ul li a {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    padding: 5px 0.2px;
    transition: 0.5s ease;
}

ul li a:hover{
    color: rgba(255,255,255,0.75);

}

ul li a.active {
    border-bottom: 2px solid #ff0000;
    color: #fff;
}

ul li a.download {
    border: 1px solid #fff;
    padding: 14px 16px;
    border-radius: 3px;
    color: #fff;
    float: center;

}

ul li a.download:hover {
background-color: #fff;
color: red;
}

.logo img {
    float: left;
    position: absolute;
    top: 5px;
    overflow: hidden;
}


.navbar {
    overflow: hidden;
    background-color: rgba(255,255,255,0.2);
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }




  .main {
    padding: 16px;
    margin-top: 0px;
    height: 1500px; /* Used in this example to enable scrolling */
  }

.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 300;
    letter-spacing: -1px;
    text-align: center;
}

.title p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.image {
    position: relative;
    top: 71%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    height: 0;
    padding-bottom: 30%;
    overflow: hidden;
}